<div id="navbar">
  <a id="navHome" href="javascript:void(0)" onclick="viewHome()">Trang chủ</a>
  <a id="navDepartment" href="javascript:void(0)" onclick="viewDeparment()">Quản lý Phòng ban</a>
  <a id="navAccount" href="javascript:void(0)" onclick="viewAccount()">Quản lý Nhân viên</a>
  <a href="javascript:void(0)" onclick="logOut()">Log out</a>
  <span>Welcome, <strong class="login-username">Administrator</strong>!</span>
</div>
<div class="alert-queue">
  <div class="alert alert-success alert-dismissible">
    <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success! </strong><span></span>
  </div>

  <div class="alert alert-danger alert-dismissible">
    <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Error! </strong><span></span>
  </div>
</div>